@model AddViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage your Groceries";
}

<div class="panel panel-default add-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover table-striped">
        <thead>            
            <th>Grocery</th>
            <th>Quantity</th>
            <th>Due</th>
            <th>&#x2714;</th>
        </thead>        

        @foreach (var item in Model.Groceries)
        {
            <tr>                
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.DueFor.Humanize()</td>                
                <td>
                    <form asp-action="MarkDone" method="POST">
                        <input type="checkbox" class="done-checkbox">
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
            </tr>
        }
    </table>

    <div class="panel-footer add-item-form">
        @Html.Partial("AddGroceryPartial", new Grocery())
    </div>
</div>